.total {
    width: 1500px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/* 导航栏 */
.header {
    height: 129px;
    width: 1500px;
    background-color: rgb(213, 213, 213);
    margin: 0px;
    position: fixed;
    top: 0px;
}

.nav li {
    list-style: none;
    float: left;
}

.logo {
    float: left;
    width: 128px;
    height: 127px;
}

.nav {
    float: left;
    margin-left: 300px;
}

.nav ul li a {
    display: block;
    margin-left: 30px;
    padding: 30px;
    font-size: 28px;
    color: #000;
    font-family: '微软雅黑';
}

.nav ul li a:hover {
    background-color: rgb(120, 120, 120);
}

/* 主页 */
.word {
    height: 80px;
    background-color: rgb(255, 245, 203);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 140px;
    text-indent: 100px;
    font-size: 32px;
    padding-top: 24px;
    padding-left: 40px;
    color: #4d3513;
}

.plus {
    margin-top: 10px;
    margin-left: 600px;
}

.fengxi {
    width: 1500px;
    height: 50px;
}

.fengxi1 {
    margin-left: 300px;
    font-size: 24px;
    color: red;
}

.answer {
    font-size: 18px;
}

.shihemaozi {
    width: 1500px;
    height: 50px;
}

.shihemaozi1 {
    margin-left: 300px;
    font-size: 26px;
    color: brown;
}

.shopping {
    width: 1500px;
    height: 80px;
}

.shopping1 {
    display: inline-block;
    margin-left: 300px;
    font-size: 28px;
    color: rgb(89, 125, 168);
}

.shopping2 {
    list-style: none;
    font-size: 25px;
    float: right;
    margin-right: 820px;
    padding-top: 8px;
}

a:link {
    color: #95b2ae;

}

a:hover {
    color: #000;
}

.chongzhi {
    display: inline-block;
    background-color: brown;
    color: azure;
    width: 250px;
    height: 100px;
    font-size: 28px;
    margin-top: 20px;
    margin-left: 620px;
}

/* 最底下标签 */
.bottom {
    margin-top: 0px;
    height: 50px;
    width: 1500px;
    background-color: #3b3b3b;
}

.bottom p {
    text-indent: 600px;
    font-size: 20px;
    font-family: '微软雅黑';
    padding-top: 10px;
    color: whitesmoke;
}

/* 图片大小 */
.bg {
    width: 300px;
    height: 320px;
}