.total {
    width: 1500px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 导航栏 */
.header {
    height: 129px;
    width: 1500px;
    background-color: rgb(213, 213, 213);
    margin: 0px;
    position: fixed;
    top: 0px;
}

.nav li {
    list-style: none;
    float: left;
}

.logo {
    float: left;
    width: 128px;
    height: 127px;
}

.nav {
    float: left;
    margin-left: 300px;
}

.nav ul li a {
    display: block;
    margin-left: 30px;
    padding: 30px;
    font-size: 28px;
    color: #000;
    font-family: '微软雅黑';
}

.nav ul li a:hover {
    background-color: rgb(120, 120, 120);
}

/*盒子*/
.mid {
    margin: 0px;
    width: 1500px;
    height: 650px;
    background-color: rgb(198, 198, 198);
}


.pin {
    float: left;
    background-color: brown;
    margin-top: 150px;
    margin-left: 40px;
    height: 400px;
    width: 300px;
}

/* 最底下标签 */
.bottom {
    margin-top: 0px;
    height: 50px;
    width: 1500px;
    background-color: #3b3b3b;
}

.bottom p {
    text-indent: 600px;
    font-size: 20px;
    font-family: '微软雅黑';
    padding-top: 10px;
    color: whitesmoke;
}

/* 图片大小 */
.hat1 {
    height: 400px;
    width: 300px;
}

.beijing {
    width: 1500px;
    height: 650px;
}